.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
}
.header h1{
    font-size: 1.1075rem;
    font-weight: 700;
    cursor: pointer;
    padding-left: 10px;
}
.insights svg{
    height: 1.3rem;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.insights:hover{
    background-color: rgba(228, 229, 231, 0.966);
    cursor: pointer;
    border-radius: 50%;
}
.navbar{
    padding: 0;
}
.tweet-input img{
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
   
}
  .tweet-input{
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
  
    
  }
  
  .tweet-input input{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  .tweet-btn{
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 300px;
    cursor: pointer;
    
    margin-bottom: 10px;
  }
  .feeds-header svg:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 70px;
  }
  .feed__item-icon{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 0px;
  
  }
  .feed__item-icon svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill:rgb(2, 158, 255);
  }
  .feed__item-icon :hover{
    background-color: rgb(228, 236, 240);
    border-radius: 40px;
    cursor: pointer;
  }